/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, img, ins, kbd, q, s, samp,
small, strike, sub,  tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}

blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

.lft{
    float:left
}

.clr{
    clear:both
}

body{background:black; color:#fff}

/*
HEADER STYLES
*/

#block-system-main-menu h2{
    display:none;
}

/*
NAVIGATION STYLES
*/

.topPortion{
    padding-bottom: 20px;
}

#block-system-main-menu .leaf{
    list-style:none;
    float:left;
}

.leaf a{
    text-decoration: none;
    color: #fff;
    font-size:110%;
    padding:5px;
    border-radius:7px;
}

nav.mainmenu{
    margin: 0 auto;
    width: 375px;
}

.leaf a.active{
    background:#ff0000;
}


/*
SLIDE SHOW STYLES
*/
.bx-controls{
    display:none
}

section.topContent{
    position:relative;
}

.slideThumbs{
    position: absolute;
    top: 10px;
    right: 10px;
}

.slideThumbs aside.slide{
    padding: 0px 10px;
}

.slideThumbs a img{
    height:100px;
    width:100px;
}

/*
SECOND TIER AREA
*/

.secondTier{
    width:100%;
    margin: 0 auto;
    margin-top: -120px;
    position: relative;
}

.secondTier article{
    width: 27%;
    float: left;
    background: green;
    margin: 2.3%;
    padding: .5%;
    min-height: 150px;
}